venv/
.venv/

__pycache__/
*.py[cod]
.pytest_cache/

.ipynb_checkpoints/

data/raw/*
data/processed/*

models/*.pt
models/*.pth
models/*.pkl
models/*.joblib

mlruns/
.mlflow/

.env

.vscode/
.idea/

*.log